.modal-window-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-reg__scale-cont {
    position: absolute;
    width: 915px;
    height: 736px;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.5s;
    z-index: 101;
}

.modal-window-reg__back {
    position: absolute;
    width: 915px;
    height: 736px;
}

.modal-window-reg__title {
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 270px;
    transform: scale(0.7);
}

.modal-window-cross_icon {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 88%;
    cursor: pointer;
}

.modal-window-reg__form-container {
    position: absolute;
    width: 915px;
    height: 566px;
    z-index: 2;
    top: 170px;
}

.modal-window-reg__form-container
    .modal-window-reg__input_container:nth-child(4) {
    margin-bottom: 20px;
}

.modal-window-reg__input_container {
    position: relative;
    width: 800px;
    height: 67px;
    left: 55px;
    margin-bottom: 50px;
}

.modal-window-reg__input_bg {
    width: 100%;
    position: absolute;
    object-fit: contain;
}

.modal-window-reg__input_placeholder {
    position: absolute;
    top: -32px;
    left: 30px;
    transition: top 0.3s, font-size 0.3s, transform 0.3s;
    transform: scale(0.7);
    transform-origin: left;
}

.modal-window-reg__input_field {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: transparent;
    border: none;
    color: #d0ffd0;
    font-size: 22px;
    font-family: Bevietnampro, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    outline: none;
    padding-left: 30px;
    z-index: 1;
}

.modal-window-reg__input_field::placeholder {
    color: transparent;
}

.modal-window-reg__button_container {
    position: relative;
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.modal-window-reg__button_base {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-window-reg__button_text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-family: Bevietnampro, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    top: 27%;
}
